{% extends "bookmarket/base.html" %}

{% if user.is_authenticated %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-sm-3">ID</th>
                    <th class="col-sm-3">Date</th>
                    <th class="col-sm-3">Operator</th>
                    <th class="col-sm-3">Earn/Cost</th>
                </tr>
            </thead>
            <tbody>
                {% for bill in bills %}
                <tr>
                    <td scope="row">{{ bill.bid }}</td>
                    <td>{{ bill.date }}</td>
                    <td>{{ bill.operator.realname }}</td>
                    <td>{{ bill.earn_cost }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
{% endif %}